body{
    margin: 0;
}

a{
    text-decoration: none;
    color:inherit;
}
  
.container{
    height: 45%;
    width:100%;
    
}
  
.metsos{
    font-size:9px;
    background-color:rgb(245, 187, 177);
    color:white;
    padding:5px;
    padding-left: 0px;
    text-align: left;
}
  
.metsos ul li{
    display: inline-block;
    color:white;
}
  
.metsos ul li a:hover {
    opacity:0.5;
    padding-left: 7px;
}
  
header{
    font-family:monospace;
    background-color: white;
    width: 100%;
    height: 100px;
}
  
.header-left{
    float:left;
}  
  
.header-left h1{
    color:rgb(245, 187, 177);
    font-size:18px;
    padding-left:12px;
}
  
.header-right{
    float: right; 
}
  
.header-right ul li{
    display: inline-block;
}
  
.header-right a{
    padding-right: 7px;
    padding-left: 0px;
    color:rgb(245, 187, 177);
    font-size: 18px;
}
  
.header-right a:hover{
    opacity:0.5;
}
  
.lesson-wrapper{
    background-color:rgb(245, 187, 177);
    height: 900px;
    padding:0px 40px;
    text-align: right;
}

.gambar{
    height:180px;
    width:240px;
    padding-top: 40px;
}

.lesson{
    float:left;
    width:25%;
    position: relative;
}

.lesson h3{
    font-size: 30px;
    letter-spacing: 4px;
    color:white;
    height:10px;
}

.lesson p{
    font-size:20px;
    height:10px;
}

.lesson a{
    padding:6px 8px;
    color:rgb(146, 146, 245);
    display: inline-block;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.7;
}

.lesson a:hover{
    opacity:1;
}

footer{
    padding: 30px 10px;
    background-color: rgb(243, 204, 197);
    color:rgb(253, 143, 123);
}
